#!/bin/sh
# Managed by the foray-planner ansible role
exec flock -n /tmp/foray-ingest.lock \
  docker run --rm --env-file /opt/foray-planner/foray.env \
    {{ foray_app_image }} \
    foray ingest --countries
