# Managed by the foray-planner ansible role
PGHOST={{ foray_db_host }}
PGPORT={{ foray_db_port }}
PGUSER={{ foray_db_user }}
PGPASSWORD={{ foray_db_password }}
PGDATABASE={{ foray_do_db_name }}
RIDB_API_KEY={{ foray_ridb_api_key }}
FORAY_HOME__LAT={{ foray_home_lat }}
FORAY_HOME__LNG={{ foray_home_lng }}
FORAY_HOME__RADIUS_KM={{ foray_home_radius_km }}
